.drink-container {
    text-align: center;
    margin: 40px auto;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.drink-image {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.instructions,
.ingredients {
    margin-top: 30px;
    text-align: left;
    width: 100%;
}

.instructions h3,
.ingredients h3 {
    margin-bottom: 10px;
    font-size: 1.5rem;
    border-bottom: 2px solid #f15094;
    padding-bottom: 5px;
}

.instructions p,
.ingredients p {
    line-height: 1.6;
    font-size: 1rem;
}


@media (max-width: 768px) {
    .drink-container {
        padding: 15px;
        margin: 20px;
    }

    .drink-image {
        width: 150px;
    }

    .instructions h3,
    .ingredients h3 {
        font-size: 1.3rem;
    }
}