.form-center {
    display: flex;
    flex-direction: row;
    border-color: #f15094;
}

.form-center input {
    padding: 15px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
    outline: none;
    transition: border-color 0.3s ease;
}

.form-center input:focus {
    border-color: #f15094;
}

.form-center button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 25px;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #f15094;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-center button:hover {
    background-color: #d13f7e;
}

.form-center button img {
    margin-right: 10px;
    width: 20px;
}